*{
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;   
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
 @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url('./images/background.png');
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
} 

.navbar .logo:hover {
    transition: ease-in 0.55s;
    transform: scale(1.3);
}

.navbar .cart {
    width: 40px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    border-bottom: 3px solid plum;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p {
    font-size: 20px;
    color: #6a7199;
}

.content .button {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;
}

.arrow-icons img {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.feature-image {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: scale(0.9);
    transition: 1s ease-out;
}

.feature-image:hover {
    transition: 1s ease-in;
    transform: scale(1.1);
}